<div class="py-8">
    {%paginate blog.articles by section.settings.number_of_blog_posts%}
        <h6 class="text-center text-3xl" style="font-size: 6px !important;">{{blog.title}}</h6>
    {% endpaginate %}
</div>